/*      Mobile Layout: 320px.
        Gutters: 12px.
        Outer margins: 18px.
        Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3      4
px      62    136    210    284    */

@media only screen and (max-width: 767px) {

    body {
        width: 284px;
        padding: 0 18px 36px;
    }

    .container {
        width: 284px; /* make this match the body width above */
        background: none repeat scroll 0 0 #FFFFFF;
        border: none/*1px solid #dddddd;
        -moz-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px*/;
    }


}
