/*      Wide Mobile Layout: 480px.
        Gutters: 12px.
        Outer margins: 24px.
        Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5      6
px      62    136    210    284    358    432   */

@media only screen and (min-width: 480px) and (max-width: 767px) {

    body, .container, #searchFormHeader,
    div.searchHomeForm div.searchform #searchForm, div.searchform #searchForm,
    .homeCustomContent {
        width: 480px;
    }

    body {
        padding: 0 0 48px;
    }

    .w-i-p {
        font-size: 11px;
        padding: 0 6px;
        width: 468px;
    }

    .container {
        background: none repeat scroll 0 0 #FFFFFF;
        border: none/*1px solid #dddddd;
        -moz-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px*/;
    }
    #searchFormHeader {
        margin: 0;
        padding: 0;
    }
    div.searchHomeContent {
        padding: 3em 0 0;
    }
    div.searchHomeLogo img {
        width:70%;
        margin: 0 auto;
    }
    div.searchHomeForm div.searchform #searchForm, div.searchform #searchForm {
        margin: 0 auto;
        padding: 0;
        width: 476px;
    }
/*
    .searchform #searchForm_input {
        padding: 4px;
        font-size: 1.0em;
        border-right: 1px solid #999999;
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
    }
    .searchHomeForm div.styled_select,
    .searchform div.styled_select { 
        border-radius: 6px 0 0 6px;
        -moz-border-radius: 6px 0 0 6px;
        -webkit-border-radius: 6px 0 0 6px;
    }
*/
    .searchform #searchForm_searchButton {
        float:left;
        background-position: top right;
        height: 34px;
        width: 70px;
        margin:0;
        border-radius: 0 6px 6px 0;
        -moz-border-radius: 0 6px 6px 0;
        -webkit-border-radius: 0 6px 6px 0;
    }
    .homeNavigation ul li {
        display: block;
        margin: 0;
        border-bottom: 1px solid #eee;
    }
    .navigationMenu ul {
        padding-bottom: 6px;
    }
    .navigationMenu ul li a {
        padding: 6px 0 0;
    }
    .homeCustomContent {
        padding: 0 0 2em;
    }
    .homeCustomContent .homeCustomCol1 {
        font-size: .846em;
        margin: 0;
        padding: 0 12px;
        width: 456px;
    }
    .homeCustomContent .homeCustomCol2 {
        clear: left;
        float: none;
        margin: 0;
        padding: 1em 12px;
        width: 456px;
    }
    .homeCustomContent .homeCustomCol2 ul {
        margin: 0 auto;
        width: 360px;
    }
    .homeCustomContent .homeCustomCol2 ul li {
        float: left;
        margin: 0.5em 0 0.5em 40px;
        width: 140px;
    }
    
    .main-home .footer, .footer {
        padding: .2em 0 0;
    }
    #footerCol1, #footerCol2, #footerCol3 {
        padding: 0 12px;
        width: 132px;
    }
    #footerCol4 {
        clear: left;
        float: none;
        margin: 0 auto;
        padding-top: 2em;
        width: 285px;
    }    


    #topPubDateVis {
        width: 432px;
    }
    #topFacets {
        width: 432px;
    }
    #suggestedTopics {
        width: 408px;
        margin: 0 12px 0 12px;
    }
    #resultList {
        width: 432px;
    }
    ul.recordSet .resultColumn1 {
        width: 136px;
        margin-left: 0;
    }
    .summcover {
        max-width: 136px;
    }
    .resultNoImage{
        height: 124px;
        width: 124px;
    }
    .resultImage {
        margin: -126px 0 0 0;
        width: 126px;
    }
    ul.recordSet .resultColumn1 .resultItemFormat {
       width: auto;
    }
    ul.recordSet .resultColumn2 {
        width: 246px;
    }
    ul.recordSet .addToFavLink {
        clear: none;
        float: right;
        margin: 0;
    }



    #sidebarFacets {
        width: 408px;
        float:left;
        margin: 0 12px;
        border-top: 1px solid #dddddd;
    }
    #sidebarFacets .sidegroup {
        border-left: none;
    }



    .backToResults {
        margin-left: 10px;
        width: 180px;
    }
    .resultscroller {
        clear: none;
        margin-left: 0;
    }
    #resultSide {
        width: 432px;
        margin-right: 0;
    }
    .coverImages {
        width: 210px;
        float: left;
    }
    .recordcover {
        max-width: 210px;
    }
    .record .toolbar {
        width: 210px;
        float: right;
    }
    #qrcode {
        display: none;
    }
    
    #resultMain {
        width: 432px;
        margin-right: 0;
    }
    #recordMetadata {
        width: 432px;
        float: left;
    }
    #dyntabnav {
        width: 432px;
    }

    #resultSidebar {
        width: 432px;
    }
    #resultSidebar .sidegroup {
        border-top: 2px solid #dddddd;
        border-left: none;
        padding: 0;
    }
    #resultSidebar ul li {
        width: 136px;
        margin-right:0;
        display: inline-block;
        vertical-align: top;
    }


}
