/*      Wide Mobile Layout: 480px.
        Gutters: 12px.
        Outer margins: 24px.
        Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5      6
px      62    136    210    284    358    432   */

@media only screen and (min-width: 480px) and (max-width: 767px) {

    body {
        width: 432px;
        padding: 0 24px 48px;
    }

    .container {
        width: 432px; /* make this match the body width above */
        background: none repeat scroll 0 0 #FFFFFF;
        border: none/*1px solid #dddddd;
        -moz-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px*/;
    }


}
