/****** Breadcrumbs ******/

div.breadcrumbs {
    overflow: hidden;
    margin-top: .5em;
    padding: 0;
    height: 30px;
    line-height: 30px;
    /* background-color: #dddddd; */
}
div.breadcrumbs a, div.breadcrumbs em, div.breadcrumbs span {
    float: left;
    overflow: hidden;
    height: 30px;
    padding: 0 8px;
    font-style: normal;
    font-size: 90%;
}
div.breadcrumbs span {
    background: url("../images/bg_breadcrumb.png") no-repeat left center;
    overflow: hidden;
    padding: 0;
    width: 10px;
    font-size: 0pt;
    line-height: 0px;

    filter: alpha(opacity=40);
    opacity: 0.4;
}
div.breadcrumbinner {
    margin: 0 .4em;
}

