
/* Logo image on search results */
#logo {
    background: url("../../../../images/generic_logo.gif");                                           
    height: 39px;
    width: 200px;
    margin: 0 0 0 10px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}

/* Logo background */
.header, .header-home {
    background-color: #123643;
}
