
/* Logo image on search results */
#logo {
    background: url("../images/finna_logo_small.png") no-repeat scroll center center transparent;
    height: 39px;
    width: 200px;
    margin: 0 0 0 10px;
    display: block;
    background-repeat: no-repeat;
}

/* Logo background */
.header, .header-home {
    background-color: #f3f3f3;
}
