/****** Homepage ******/

/* temp style */
.searchHome {margin-bottom: 15em;}

.searchHomeContent {
    padding:2em 0 5em;
    margin:0 auto;
/*
    width:528px;
*/
    text-align:left;
}
.searchHomeLogo {
    padding:0 0 1em;
/*
    width:528px;
*/
    text-align:center;
}
.searchHomeLogo img {
    display:block;
    margin:0 auto ;
}
.searchHomeForm {
/*
    background-color: #E6EFC2;
    -moz-border-radius: 5px 5px 5px 5px;
    border: 2px solid #C6D880;
    padding:2em 0;
*/
    text-align: left;
    font-size: 12pt;
    color: #264409;
}
div.searchHomeForm div.searchform {
    float:none;
    width:468px;
    margin:12px auto 0;
}
div.searchHomeForm div.searchform #searchForm {
    width:468px;
    margin:12px auto 0;
}
.searchHomeForm #searchForm input, .searchHomeForm #searchForm select {
    margin-bottom:0;
    padding:3px 6px;
}
.searchHomeForm #searchForm_lookfor {
    height:24px;
    font-size:100.01%;
}
.searchHomeForm a, .searchHomeForm a:hover {
/*
    color:#264409;
*/
}
.searchHomeForm #searchForm_searchButton {
    height: 36px;
    width: 68px;
    margin-left: 2px;
}
.searchHomeBrowse {
    margin-left:auto;
    margin-right:auto;
    width:896px;
}
.searchHomeBrowseInner {
}
.searchHomeBrowseHeader div, .searchHomeBrowseInner div {
    float:left;
    margin-right:24px;
    width:160px;    
}
.searchHomeBrowseHeader div.searchHomeBrowseExtraWide, .searchHomeBrowseInner div.searchHomeBrowseExtraWide {
    width:160px;
/*
    width:252px;
*/
}
.searchHomeBrowseHeader h5 {
    border-bottom: 1px solid #94c632;
    margin-bottom:12px;
}
.searchHomeBrowseInner div {
    margin-left:0;    
}

.searchHomeBrowse ul {
    list-style-type: none;
    padding:0;
}

/* Use these classes to set the width of a column. */
.snap-5, .snap-10 {float:left; margin-right:24px;}
.snap-5 {width:160px;}
.snap-10 {width:344px;}

