/****** Homepage ******/

/* temp style */
.searchHome {margin-bottom: 15em;}

.searchHomeContent {
    padding:2em 0 5em;
    margin:0 auto;
/*
    width:528px;
*/
    text-align:left;
}
.searchHomeLogo {
    padding:0 0 1em;
/*
    width:528px;
*/
    text-align:center;
}
.searchHomeLogo img {
    display:block;
    margin:0 auto 1em auto;
}
.searchHomeForm {
/*
    background-color: #E6EFC2;
    -moz-border-radius: 5px 5px 5px 5px;
    border: 2px solid #C6D880;
    padding:2em 0;
*/
    margin: 0 auto;
    text-align: left;
    font-size: 12pt;
    color: #264409;
}
div.searchHomeForm div.searchform {
    float:none;
    margin:12px auto 0;
}
div.searchHomeForm div.searchform #searchForm {
    margin:12px auto 0;
}
.searchHomeForm #searchForm input, .searchHomeForm #searchForm select {
    padding:3px;
}
.searchHomeForm #searchForm_lookfor {
    height:20px;
/*
    font-size:100.01%;
*/
    border-left-width: default;
    border-right-width: default;
}
.searchHomeForm a, .searchHomeForm a:hover {
/*
    color:#264409;
*/
}
.searchHomeBrowse {
    margin-left:auto;
    margin-right:auto;
    width:950px;
}
.searchHomeBrowseHeader h5 {
    border-bottom: 1px solid #94c632;
    margin-bottom:12px;
}
.searchHomeBrowseInner div {
    margin-left:0;    
}

.searchHomeBrowse ul {
    list-style-type: none;
    padding:0;
}

