
/* Background of the logo image */
.searchHome {
    /* margin-bottom: 15em; */
    background-color: #f3f3f3;
    border-bottom: 1px solid #ddd;
}

/* Logo image */
.searchHomeLogo {
    text-align: center;
    background: url("../images/finna_logo.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto 3em auto;
    display: block;
    height: 60px;
}

