/****** Homepage ******/

/* temp style until the browse has been figured out to home page */
.searchHome {
    /* margin-bottom: 15em; */
    background-color: #f3f3f3;
    border-bottom: 1px solid #ddd;
}
.searchHomeContent {
    padding: 2em 0 2em 0;
    margin: 0 auto;
    text-align: left;
}

/*** Logo ***/

.searchHomeLogo {
    text-align: center;
}
.searchHomeLogo img {
    display: block;
    margin: 0 auto 1em auto;
}


/** Search Box **/

.searchHome .searchbox {
    margin-top: 0;
}

.searchHomeForm {
/*
    background-color: #E6EFC2;
    -moz-border-radius: 5px 5px 5px 5px;
    border: 2px solid #C6D880;
    padding:2em 0;
*/
    margin: 0 auto;
    text-align: left;
    font-size: 12pt;
    color: #264409;
}
div.searchHomeForm div.searchform {
    float:none;
    margin:12px auto 0;
}
div.searchHomeForm div.searchform #searchForm {
    margin:12px auto 0;
}

.searchHomeForm #searchForm_input {
    background-color: #ffffff;
    color: #333333;
    height: 24px;
    width: 220px;
    padding: 4px 4px 4px 8px;
    border: 1px solid #999999;
    border-right: 0;
    border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
/*
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
*/
    behavior: url(css/css3pie/PIE.php); /* for IE */
}
.searchHomeForm div.styled_select { /* to get rid of unstylable down-arrow */
    border-right: 1px solid #969696;
    width: 145px;
    height: 34px;
    overflow: hidden;
    background: none no-repeat right transparent;
}
.searchHomeForm #searchForm_type {
    background: url("../images/searchselect_bg.png") transparent no-repeat;
    border: none;
    color: #555555;
    cursor: pointer;
    height: 34px;
    width: 169px;
    padding: 8px 9px;
    -webkit-border-radius: 0; /* to fix round left corners on mac webkit-browsers */
}
.searchHomeForm #searchForm_searchButton {
    background: url("../images/searchbutton_bg.png") transparent;
    border: none;
    color: #555555;
    cursor: pointer;
    height: 34px;
    width: 89px;
    margin-left: 5px;
}

.searchHomeForm a, .searchHomeForm a:hover {
/*
    color:#264409;
*/
}


/*** Navigation ***/

.homeNavigation {
  width: 100%;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.homeNavigation ul {
  margin: 0;
  padding: 0;
}
.homeNavigation ul li {
  display: inline;
  margin: 0 1em;
}
.homeNavigation ul li a {
  display: inline-block;
  padding: 12px 0 12px 0;
  font-size: 1.2em;
}
.homeNavigation ul li a:link,.homeNavigation ul li a:visited {
  color: #666;
}
.homeNavigation ul li a:hover {
  color: #999;
  text-decoration: none;
}

/*** Custom content ***/

.homeCustomContent .homeCustomCol1 {
    float: left;
    width: 346px;
    margin: 1em 12px 4em 12px;
}
.homeCustomContent .homeCustomCol1 h2 {
    font-size: 2em;
    font-weight: bold;
    line-height: 1em;
    margin-bottom: 1em;
}
.homeCustomContent .homeCustomCol1 p {
    line-height: 1.25em;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}
.homeCustomContent .homeCustomCol2 {
    float: left;
    width: 284px;
    margin: 1em 12px 2em 0;
}
.homeCustomContent .homeCustomCol2 ul {
    padding: 0;
    margin: 0;
}
.homeCustomContent .homeCustomCol2 ul li {
    float: left;
    width: 130px;
    margin: 0.5em 10px 0.5em 0;
    font-size: 1em;
}
.homeCustomContent .homeCustomCol2 .iconlabel {
    font-size: 0.9em;
}
.homeCustomContent .homeCustomCol3 {
    float: left;
    width: 210px;
    margin: 1em 12px 2em 0;
    background-color:#99ff99;
}

/*** Browse Search ***/

.searchHomeBrowse {
    margin-left:auto;
    margin-right:auto;
    width:950px;
}
.searchHomeBrowseHeader h5 {
    border-bottom: 1px solid #94c632;
    margin-bottom:12px;
}
.searchHomeBrowseInner div {
    margin-left:0;    
}

.searchHomeBrowse ul {
    list-style-type: none;
    padding:0;
}

