/* Background of the logo image */
.header-home {
    background-color: #f3f3f3;
    border-bottom: 1px solid #ddd;
}
.searchHomeContent {
    margin: 0 auto;
    padding: 3em 0 3em 0;
    text-align: left;
}
/* Logo image */
.searchHomeLogo {
    background: url("../images/finna-logo.png");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    height: 150px;
    margin: 0 auto 3em auto;
    text-align: center;
}
