@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (moz--min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    #beta-banner {
        background: url('../images/beta-overlay@2x.png');
        background-size: 80px 73px;
    }
    .searchHomeLogo {
        background: url('../images/finna-logo_cyan@2x.png') no-repeat center center;
        background-size: 125px 165px;
    }
    #logo {
        background: url('../images/finna-logo_small@2x.png');
        background-size: 190px 60px;
    }
    .footer a.KDK-logo {
        background: url('../images/kdk-logo_small@2x.png') no-repeat left center;
        background-size: 60px 31px;
    }
    .footer a.vufind-logo {
        background: url('../images/vufind-logo_small@2x.png') no-repeat left center;
        background-size: 88px 33px;    
    }
}

