/** Typography presets **/
/** Areas beyond these settings: breadcrumbs, footer, .citation (more?) **/


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px; /* See size table below */
    line-height: 1.5;
    font-weight: normal;
    font-style: normal;
}
 
/* Font sizes */
/*
 * ===========================
 * reference: modularscale.com
 * 3:4 - perfect fourth
 * ===========================
 * px		em      %
 * ----    -----   -------
 * 26.055  2.004   200.423
 * 23.100  1.777   177.692
 * 19.546  1.504   150.354
 * 17.329  1.333   133.300
 * 14.663  1.128   112.792
 * 13.000  1.000   100.000
 * 11.000  0.846    84.615
 *  9.752  0.75     75.015
 * ===========================
*/
.tiny {
	font-size: .75em;
	line-height: 1.4;
}
h6, .small, small {
	font-size: .846em;
	line-height: 1.4;
	letter-spacing: .002em;
}
h5, .normal {
	font-size: 1em;
	line-height: 1.5;
}
h4, .big, #searchForm_input, #searchForm_searchButton {
    font-size: 1.128em;
    line-height: 1.4;
}
h3, .hefty, .slogan, .title /* Result list title */ {
    font-size: 1.333em;
    line-height: 1.2;
}
h2, .large {
    font-size: 1.504em;
    line-height: 1.2;
}
h1, .grand {
    font-size: 1.777em;
    line-height: 1.2;
}
.overgrand {
    font-size: 2.004em;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-weight: bold;
    margin: .75em 0 .5em;
    text-transform: none;
}
.tiny, .small, small, .big, .hefty, .large, .grand, .overgrand {
    margin: 0;
}


/* Is this needed? Would it be better to change h3 to h5 / use class normal? */
div.recordsubcontent h3 {
    font-size:1em;
    margin:0;
}


/* Bold & italic */
/**
 * For BOLD it is better to use class e.g _.strong_. The <strong> tag should be
 * left for screen readers, regardless of no visible difference between class
 * and tag on screen.
 **/
.strong, strong {
    font-weight: bold;
}
.emph, em {
    font-style: italic;
}
.highlight {
    font-weight: bold;
    background: none;   /* could maybe be changed to some highlight color? */
}
.normal {
    font-weight: normal;
}

/* Colors */
body {
    color: #333333;
}
.inactive {
    color: #cccccc;
}

/* Selection colours (easy to forget). The values might need a go-through... */
::selection 	 	{ background: #ffff9e; }
::-moz-selection 	{ background: #ffff9e; }
img::selection 		{ background: transparent; }
img::-moz-selection	{ background: transparent; }
body { -webkit-tap-highlight-color: #ffff9e; }

