[Site]
local           = /usr/local/vufind/web
path            = /vufind
url             = http://localhost:8888/vufind
email           = finna-posti@helsinki.fi 
title           = Finna


[OpenURL]
url             = "http://sfx.nelliportaali.fi/sfxtst3"
rfr_id          = vufind-fe-kktest.lib.helsinki.fi
resolver        = sfx

[Extra_Config]
prefilters = prefilters.ini

[Languages]
fi          = "Suomi"
sv          = "Svenska"
en-gb       = "English"           

[AddThis]
;key = xyz

[Security]
;HMACkey = xyz

; Use Piwik for visitor tracking
[Piwik]
;url = "http://vufind-fe-kktest.lib.helsinki.fi/piwik/"
;site_id = 1

[bX]
;token = xyz

[IP_Addresses]
;local = "128.214.71,128.214.91"

[System]
available = true