[General]
url = http://eit.ebscohost.com/Services/SearchService.asmx/Search
orgid =
prof =
pwd =
authType = profile
ipprof =  
;db = a9h

default_side_recommend[] = SideFacets:Facets::EBSCO

[Access]
ip_ranges = ::1,124.218.91.1-124.218.91.12

[Basic_Searches]
AllFields    = "All Fields"
TI           = Title
AU           = Author
SU           = Subject
AB           = Abstract
IS           = ISSN

[Sorting]
relevance = sort_relevance
date = "sort_year asc"

[Facets]
DE = Topic
ZE = Topic
MM = Topic
JN = JournalName
AE = SubjectAge
PT = TypeOfPublication

[Facet_Settings]
facet_limit        = 30 
