; Feedback addresses for institutional data sources
; The format is:
; data source name = email address
[Institution_Emails]
arto = "finna-dev@helsinki.fi"
jykdok = "finna-dev@helsinki.fi"

; Main views for institutional data sources
; The format is:
; data source name = view directory
[Institution_Main_Views]
vaski = web_institution
oiva = web_institution_edge
jykdok = web
