/****** Breadcrumbs ******/

div.breadcrumbinner {
    margin: 0 .4em;
}
div.breadcrumbinner a, div.breadcrumbinner em, div.breadcrumbinner span, div.breadcrumbinner form {
    float: left;
    overflow: hidden;
    color: #ffffff;
    height: 30px;
    padding: 0 8px;
    font-size: .9em;
    font-style: normal;
}

div.breadcrumbs {
    overflow: hidden;
    padding: 0;
    height: 30px;
    line-height: 30px;
    background-color: #636363;
}
div.breadcrumbs a, div.breadcrumbs li {
    color: #ffffff;
}
div.breadcrumbs span {
    background: url("../images/bg_breadcrumb.png") no-repeat left center;
    overflow: hidden;
    padding: 0;
    width: 10px;
    /* To hide &gt; in breadscumbs. Could it be removed otherway? */
    color: transparent;
/*    
    font-size: 0;
    line-height: 0;
*/
    filter: alpha(opacity=40);
    opacity: 0.4;
}

