/****** Footer ******/

.footer {
    margin-top: 12px;
}
.footer ul {
    margin-top: 6px;
    padding-left: 0;
}
a.footerLogo {
    display: block;
}
a.footerLogo img {
    margin: 0 10px 0 0;
    vertical-align: middle;
}

