/****** Homepage ******/

/* temp style until the browse has been figured out to home page */
.searchHome {margin-bottom: 15em;}


.searchHomeContent {
    padding: 2em 0 5em;
    margin: 0 auto;
    text-align: left;
}

/*** Logo ***/

.searchHomeLogo {
    text-align: center;
}
.searchHomeLogo img {
    display: block;
    margin: 0 auto 1em auto;
}


/** Search Box **/

.searchHomeForm {
/*
    background-color: #E6EFC2;
    -moz-border-radius: 5px 5px 5px 5px;
    border: 2px solid #C6D880;
    padding:2em 0;
*/
    margin: 0 auto;
    text-align: left;
    font-size: 12pt;
    color: #264409;
}
div.searchHomeForm div.searchform {
    float:none;
    margin:12px auto 0;
}
div.searchHomeForm div.searchform #searchForm {
    margin:12px auto 0;
}

.searchHomeForm #searchForm_input {
    background-color: #ffffff;
    color: #333333;
    height: 24px;
    width: 220px;
    padding: 4px 4px 4px 8px;
    border: 1px solid #999999;
    border-right: 0;
    border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
/*
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
*/
    behavior: url(css/css3pie/PIE.php); /* for IE */
}
.searchHomeForm div.styled_select { /* to get rid of unstylable down-arrow */
    border-right: 1px solid #969696;
    width: 145px;
    height: 34px;
    overflow: hidden;
    background: none no-repeat right transparent;
}
.searchHomeForm #searchForm_type {
    background: url("../images/searchselect_bg.png") transparent no-repeat;
    border: none;
    color: #555555;
    cursor: pointer;
    height: 34px;
    width: 169px;
    padding: 8px 9px;
    -webkit-border-radius: 0; /* to fix round left corners on mac webkit-browsers */
}
.searchHomeForm #searchForm_searchButton {
    background: url("../images/searchbutton_bg.png") transparent;
    border: none;
    color: #555555;
    cursor: pointer;
    height: 34px;
    width: 89px;
    margin-left: 5px;
}

.searchHomeForm a, .searchHomeForm a:hover {
/*
    color:#264409;
*/
}


/*** Browse Search ***/

.searchHomeBrowse {
    margin-left:auto;
    margin-right:auto;
    width:950px;
}
.searchHomeBrowseHeader h5 {
    border-bottom: 1px solid #94c632;
    margin-bottom:12px;
}
.searchHomeBrowseInner div {
    margin-left:0;    
}

.searchHomeBrowse ul {
    list-style-type: none;
    padding:0;
}

