/** Hacks for IE */

#searchForm_input {
    padding-top: 6px;
}
.ui-corner-all, .ui-corner-top,
.ui-corner-left, .ui-corner-tl,
.ui-corner-right, .ui-corner-tr {
    border-radius: 7px 7px 0 0;
    position: relative;

    behavior: url(/interface/themes/national/js/css3pie/PIE.htc);
}
